@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --bg: #fff;
  --fg: #4a525a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TWK Lausanne", "Inter";
  color: var(--fg);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 4.25rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.04rem;
  line-height: 1.125;
  -webkit-font-smoothing: antialiased;
}

a,
p {
  display: block;
  text-decoration: none;
  color: var(--fg);
  font-size: 0.85rem;
  font-weight: 600;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1em;
  display: flex;
  gap: 1em;
  z-index: 2;
}

.nav .col:nth-child(1) {
  flex: 1;
}

.nav .col:nth-child(2) {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.home {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  background-color: var(--bg);
}

.home .header {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.home .header h1 {
  /* font-size: 30.5vw; */
  font-size: 29vw;
  text-align: center;
}

.home .hero-img {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  width: 90%;
  height: 50vh;
  overflow: hidden;
}

.work {
  text-align: center;
  padding: 15em 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: var(--bg);
}

.work .projects {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 4em;
}

.work .projects .column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.work .projects img {
  aspect-ratio: 4/5;
}

.studio,
.contact {
  padding: 15em 1em;
  display: flex;
  gap: 1em;
  background-color: var(--bg);
}

.studio .col:nth-child(1),
.contact .col:nth-child(1) {
  flex: 1;
}

.studio .col:nth-child(2),
.contact .col:nth-child(2) {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.studio .about-img {
  aspect-ratio: 5/7;
}

.contact {
  width: 100vw;
  height: 100%;
  min-height: 100svh;
}

.contact .socials {
  position: absolute;
  bottom: 1.5em;
  display: flex;
  gap: 1em;
}

.letter,
.word,
.line {
  position: relative;
  display: inline-block;
  will-change: transform;
}

.revealer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  transform-origin: center top;
  background-color: var(--fg);
  pointer-events: none;
  z-index: 2;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

@media (max-width: 900px) {
  .work .projects {
    width: 90%;
    flex-direction: column;
  }

  .studio,
  .contact {
    flex-direction: column;
  }
}
